* {
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Short Stack', cursive;
    /* background-color: rgb(143, 168, 220); */
}

.outerContainer {
    position: relative;
    padding-bottom: 80px;
    /* font-size: 25px; */
}

/* Layout: Navigation and Footer */
.navLink {
    color:black;
    font-size: 25px;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    font-size: 15px;
} 
/* End layout */

/* Home View */
.typingText {
    font-size: 20px;
}
/* End Home View */

/* About Me */
.aboutMe {
    font-size: 18px;
} 
/* End About Me */

/* Project Carousel */
.projectImage {
    max-height: 50vh;
    max-width: 90%;
    /* width: 40%; */
}

.carousel {
    padding: 50px;
    background-color: rgb(17, 20, 89);
}

.textBackground {
    background-color: rgb(186, 186, 186, .8);
}

/* End Carousel */